body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#conversation {
    padding: 10px;
}

.message {
    margin-bottom: 10px;
}

.message .username {
    font-weight: bold;
}

.message .text {
    color: black;
}

.message .text.me {
    background-color: rgba(0, 255, 255, 0.66);
}

.message .text.other {
    background-color: #f1f0f0;
}

#new-message-text {
    border-radius: 3px;
}

#new-message-submit {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
}